[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Placeholder for code, artifacts to mine activity traces from programmers
[access "refs/*"]
	owner = group user/Akond A. Rahman (akondrahman)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Akond A. Rahman (akondrahman)
	label-Verified = -1..+1 group user/Akond A. Rahman (akondrahman)
	push = group user/Akond A. Rahman (akondrahman)
	read = group user/Akond A. Rahman (akondrahman)
	rebase = group user/Akond A. Rahman (akondrahman)
	removeReviewer = group user/Akond A. Rahman (akondrahman)
	submit = group user/Akond A. Rahman (akondrahman)
[access "refs/heads/*"]
	create = group user/Akond A. Rahman (akondrahman)
	push = +force group user/Akond A. Rahman (akondrahman)
	pushMerge = group user/Akond A. Rahman (akondrahman)
	read = group user/Akond A. Rahman (akondrahman)
[access "refs/tags/*"]
	push = group user/Akond A. Rahman (akondrahman)
	push = +force group user/Akond A. Rahman (akondrahman)
